<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="acoes">
    <div class="top-actions d-flex flex-wrap align-items-center justify-content-end gap-2">
        <div th:replace="~{fragments/notificacao-relatorio-mensal :: sino}"></div>

        <a th:href="@{/agendamentos/relatorio/semanal}" class="btn btn-light btn-sm">
            Relatorio semanal
        </a>

        <a th:href="@{/agendamentos/dashboard}" class="btn btn-warning btn-sm">
            Sair
        </a>
    </div>
</div>
</body>
</html>
